endpoint-libs
gwt-unitCache
/war/WEB-INF/classes
/war/WEB-INF/deploy
/war/qdacity
/war/WEB-INF/appengine-generated
/war/node_modules
/war/WEB-INF/*.api
dist
/src/com/qdacity/Credentials.java
build.xml
build/
nbproject/
src/conf/
war/nbproject/
/nbbuild/
/nbdist/
src/com/qdacity/Constants.java
war/WEB-INF/appengine-web.xml
war/assets/js/common/GAPI.js
