.idea
.settings/
.project
.classpath
qdacity.iml
endpoint-libs
gwt-unitCache
/war/WEB-INF/classes
/war/WEB-INF/deploy
/war/qdacity
/war/WEB-INF/appengine-generated
/war/WEB-INF/lib
/war/node_modules
/war/messages
/war/assets/messages
/war/WEB-INF/*.api
dist
build.xml
build/
nbproject/
src/conf/
war/nbproject/
war/coverage
/nbbuild/
/nbdist/
/war/api_config.json
target
/.idea/
/war/package-lock.json
/war/translations/template.txt
