endpoint-libs
gwt-unitCache
/war/WEB-INF/classes
/war/WEB-INF/deploy
/war/qdacity
/war/WEB-INF/appengine-generated
/war/node_modules
/war/WEB-INF/*.api
dist
build.xml
build/
nbproject/
src/conf/
war/nbproject/
/nbbuild/
/nbdist/
/war/api_config.json
target
.idea/
*.iml
