{
	"presets": [["env", {
		"targets": {
			"browsers": [">5%"]
		}
	}]],
		"plugins": [
			"transform-decorators",
		"babel-plugin-async-to-promises",
		["transform-runtime", {
			"polyfill": false,
			"regenerator": true
		}]]
}
