svg path {
	stroke: #000;
	stroke-width: 2px;
	fill: none;
	margin-left:90px;
}


.svgContainer {
	position: absolute;
	opacity: 1;
	margin-left: -150px;
}

 .codingBracket:hover {

	z-index:9999 !important;
}


.hover path{
	stroke: red !important;
	cursor: pointer ;
	color: red ;
	z-index:9999 !important;
}

.hover text{
	cursor: pointer;
	fill: red;
}
 
 path.hover {
    stroke: red !important;
	cursor: pointer;
	color: red;
	z-index:9999 !important;
} 

