svg path {
	stroke-width: 2px;
	fill: none;
	margin-left:90px;
}


.svgContainer {
	position: absolute;
	opacity: 1;
	margin-left: -170px;
}

 .codingBracket:hover {

	z-index:9999 !important;
}


.hover path{
	stroke: red !important;
	cursor: pointer ;
	color: red ;
	z-index:9999 !important;
}

.hover text{
	cursor: pointer;
	fill: red !important;
}

text{
	-webkit-user-select: none;
  -khtml-user-drag: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}


 
 path.hover {
    stroke: red !important;
	cursor: pointer;
	color: red;
	z-index:9999 !important;
} 

