body{
	overflow: auto; 
}

.main-content {
	margin-top:70px;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.small-gutter {
    padding-left:5px;
    padding-right:5px;
}

.small-gutter-left {
    padding-left:5px;
}

.small-gutter-right {
    padding-right:5px;
}

.hoverHand:hover{
	cursor: pointer;
}

.no-gutter{
	padding-right:10px;
    padding-left:10px;
}

.clickable:hover{
	cursor: pointer;
}

.centerParent{
    text-align: center;
}

.centerChild{
	display: inline-block;
	float: none;
}