body{
	background: #fcfcfc;
}

.info-box{
	padding-right: 0px!important;
	padding-left: 0px!important;

}
.info-box-content{
	padding-right: 0px!important;

}

.info-box-icon{
	width:60px!important;

}
.info-box-text{
	margin-left:-35px!important;
	font-family: sans-serif;
	font-size: 15px;
	text-transform: none !important;

}
.info-box-number{
	 margin-left:-35px!important;
	 font-size:25px;
}

#settingsBtn {
	margin-left: 5px;
}