.navbar-content {
	width: 320px;
	padding: 15px;
	padding-bottom: 0px;
}

.navbar-content:before, .navbar-content:after {
	display: table;
	content: "";
	line-height: 0;
}

.navbar-footer {
	background-color: #DDD;
}

.navbar-footer-content {
	padding: 8px 15px 8px 15px;
}

.dropdown-menu {
	padding: 0px !important;
	overflow: hidden;
}