
.umlOverlayButton {
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.umlOverlayButtonAddEdge {
	background-image: url("../img/uml-editor/umlOverlayAddEdge.png");
}

.umlOverlayButtonAddEdgeGeneralization {
	background-image: url("../img/uml-editor/umlOverlayAddEdgeGeneralization.png");
}

.umlOverlayButtonAddEdgeAssociation {
	background-image: url("../img/uml-editor/umlOverlayAddEdgeAssociation.png");
}

.umlOverlayButtonAddEdgeAggregation {
	background-image: url("../img/uml-editor/umlOverlayAddEdgeAggregation.png");
}
